html, body{
    background-color: rgb(251, 247, 244);
    overflow-x: hidden;
    user-select: none;
}


/*START MENU*/
#menu{
    width:100%;
    max-width: 1500px;
    height:70px;
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    background:rgba(255,255,255,0.6);
    backdrop-filter:blur(10px);
    z-index:1000;
}
#text span{
    position:relative;
    cursor:pointer;
}

#text span::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:2px;
    background:black;
    transition:0.3s;
}

#text span:hover::after{
    width:100%;
}
#text-menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
}
#logo{
    position: relative;
    left: 2%;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Montserrat", serif;
    color: rgb(0, 0, 0);
    font-size: clamp(.25rem, 1.75vw, 2.5rem);
    cursor: default;
}
#text{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#text span{
    font-size: clamp(0.35rem, 1.25vw, 1rem);
}
#text span:hover{
    transition: .3s all;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}


#utility-menu{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.45rem, 1.25vw, 1rem);
}
.icon{
    width: clamp(.35rem, 1.25vw, 1.9rem);
    height: clamp(.35rem, 1.25vw, 1.9rem);
}
.icon path{
    scale: 1;
}
#login-btn{
    width: 30%;
    height: 80%;
    background-color: orangered;
    border-radius: 2px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#login-btn:hover{
    background-color: rgb(183, 49, 0);
}
#user-account{
    width: clamp(.25rem, 3vw, 2.5rem);
    height: clamp(.25rem, 3vw, 2.5rem);
    z-index: 2;
    background-color: #111;
    border-radius: 50%;
}
#user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 30%;
}
/*Menu Button*/
.hamburger{
  cursor: pointer;
}
#menu-toggle:checked ~ #fast-menu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.hamburger input{
  display: none;
}
.hamburger svg{
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line{
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom{
  stroke-dasharray: 12 63;
}
#menu-toggle:checked + #utility-menu .hamburger svg{
  transform: rotate(-45deg);
}

#menu-toggle:checked + #utility-menu .line-top-bottom{
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*Menu Button*/
/*FAST MENU*/
#fast-menu{
    background: linear-gradient(180deg,#111 0%,#0a0a0a 50%,#0000005d 100%);
    color: #fff;
    position: fixed;
    width: 260px;
    top: 110%;
    right: 1%;
    transform: translate(200%, -50%);
    padding: 30px 40px;
    display: grid;
    gap: 30px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    border-radius: 12px 0 0 12px;
    box-shadow: -10px 0 30px rgba(0,0,0,0.5);
    transition: .4s ease;
}
.menu-item:hover .menu-title{
    text-decoration: underline;
}
.menu-item:hover .submenu{
    color: white;
    text-decoration: none;
}
.menu-title{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.sub-sub{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-left: 15px;
    transition: .3s ease;
}
.sub-sub:hover{
    text-decoration: underline;
}
.submenu-item.active .sub-sub{
    max-height: 100px;
    opacity: 1;
}
.submenu{
    max-height: 0;
    overflow: hidden;
    transition: .35s ease;
}

.menu-item.active .submenu{
    max-height: 300px;
}
/*FAST MENU*/
/*END MENU*/



/*START BODY*/
#body{
    width: 100vw;
    height: 100svh;
    max-width: 1500px;
    max-height: 900px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cart-header{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#cart-item-container{
    position: relative;
    top: 12.5%;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
}
#item-list{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 1rem;
    gap: 1rem;
}

#item-info{
    width: 90%;
    min-height: 15%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    width: 90%;
    min-height: 22%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
}
#items-image-container{
    width: clamp(2rem, 5vw, 5.5rem);
    height: clamp(2rem, 5vw, 5.5rem);
    border-radius: 10px;
}
#items-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
    border-radius: 10px;
}
#items-info-container{
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.25rem, 0.4vw, 0.7rem);
    padding-left: 5px;
}
#items-info-container span{
    font-size: clamp(0.35rem, 0.9vw, 1rem);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}
.items-total-container{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: clamp(0.35rem, 0.9vw, 1rem);
    width: 15%;
    padding-left: 10%;
}
#items-quantity-container{
    font-size: clamp(0.35rem, 0.9vw, 1rem); 
    width: 10%; 
    display: flex; 
    justify-content: space-between;
}
#items-quantity-container *{
    position: relative;
    left: 30%;
}
#label-for-remove-input{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.503);
    font-size: clamp(0.35rem, 0.9vw, 1rem);
}
#label-for-remove-input:hover{
    color: black;
}
.operation-button{
    background-color: transparent;
    border: none;
    transition: .1s all;
    font-size: clamp(0.35rem, 0.9vw, 1rem);
}
.operation-button:hover{
    font-size: clamp(0.35rem, 1vw, 1rem);
    transition: .3s all;
}
#info-list{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#info-freeship{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: clamp(0.5rem, 1vw, 1rem);
}
#freeship-progress-bar{
    width: 90%;
    height: 6%;
    border-radius: 20px;
    background-color: white;
}
#shipping-label{
    font-size: clamp(0.5rem, 1vw, 1rem);
}
#progress-bar{
    width: 10%;
    max-width: 100%;
    height: 100%;
    background-color: orangered;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: 5s all;
}
#shipping-icon-container{
    width: clamp(.35rem, 3.5vw, 2.5rem);
    height: clamp(.25rem, 2.5vw, 2rem);
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping-icon {
    position: relative;
    left: 3%;
    width: clamp(0.5rem, 1.25vw, 1rem);
    height: clamp(0.5rem, 1.25vw, 1rem);
    fill: rgb(255, 255, 255);
}
#info-total-order{
    width: 100%;
    height: 65%;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}
#info-total-order *{
    position: relative;
    left: 5%;
}
.info-total-order-span-container{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: start;
    gap: 70%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}
#order-btn{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    background-color: orangered;
}
#order-btn:hover{
    background-color: rgb(209, 56, 0);
}
/*END BODY*/