html,body{
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    background: white;
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar, .simillar-product-container::-webkit-scrollbar{
    width: 0;
    height: 0;
}
#menu path, #menu p{
    stroke: black;
    color: black;
}
.icon path{
    fill: black;
}

/* CONTAINER */
.product-container{
    max-width:1200px;
    width: 100%;
    position: relative;
    margin: auto;
    display:flex;
    gap: 60px;
    padding: 60px 20px;
    padding-top: 70px;
    background:white;
}




/* LEFT */
.product-left{
    width:50%;
    height: 600px;
}
.product-left #bigImg{
    width: 90%;
    height: 500px;
    object-fit: cover;
    object-position: center 40%;
    background: #F3F3F3;
}
.thumb-list{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}
.thumb-list .smallImg{
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s;
    object-fit: cover;
    padding-top: 10px;
}
.thumb-list img:hover{
    border: 1px solid black;
}




/* RIGHT */
.product-right{
    width:50%;
}
.product-title{
    font-size:28px;
    margin-bottom:10px;
}
.short-desc{
    color:#666;
    line-height:1.6;
}

/* SELECT */
.size label:hover,
.size label.active, .colors label.active{
    transition: .3s all;
    cursor: pointer;
    border: 1px solid black;
}

.add-cart{
    margin-top:30px;
    width:100%;
    padding:16px;
    border:none;
    background:black;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}
.add-cart:hover{
    background:#333;
}
.modal-try {
  width: 100%;
  height: 50px;
  background: rgb(255, 255, 255);
  align-self: flex-start;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s all;
}
.modal-try:hover{
  background: black;
  color: white;
  transition: .3s all;
}

.toast.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: .3s all;
}
.toast.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 1px;
    animation: toast 5s forwards;
    animation-delay: .1s;
}
 @keyframes toast {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
 }

#body{
    width: 100vw;
     
    display: grid;
    position: relative;
    margin: auto;
}
#body h1{
    font-family: 'Playfair Display', serif;
}
.items{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;
    transition: .1s all;
    cursor: pointer;
}
.items:hover{
    transition: .4s all;
}
.items-left{
    width: 100%;
    height: 80%;
    position: relative;
}
.img.i1, .img.i2{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: .2s all;
}
.items-left:hover .img.i1{
    transition: .2s all;
    opacity: 0;
    visibility: hidden;
}
.items-left:hover .img.i2{
    transition: .2s all;
    opacity: 1;
    visibility: visible;
}
.img.i2{
    opacity: 0;
    visibility: hidden;
}
.items-right{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.items-right h5{
    font-weight: 100;
    font-size: 16px;
}
.items-right span{
    font-size: 13px;
}
.items-right p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
}


@media (max-width: 600px){
    .product-container{
        display: grid;
        padding: 60px 0px;
        place-items: center;
    }
    .product-left{
        width: 100%;
        display: grid;
        place-items: center;
    }
    .product-left #bigImg{
        width: 90%;
        height: 400px;
    }
    .product-right{
        width: 90%;
    }
    .brand{
        display: flex !important;
        font-size: 10px;
        color: #c5a059;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    #progress-container{
    max-width: 200px;
  }
}