html,body{
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}


/*START HEAD */
#head{
    width: 100vw;
    max-width: 1500px;
    height: 100svh;
    max-height: 900px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: auto;
    display: flex;
    transition: .3s all;
    overflow: hidden;
}
#head-slider{
    display: flex;
    width: 200%;    
    transition: transform 0.8s ease;
}
/*END HEAD */



/*START HEAD HERO BANNER */
#head-banner-container, #head-banner-container-2{
    min-width: 100%;
    height: 100%;
    position: relative;
}
#head-banner-container::before{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        rgba(245,238,230,0.95) 0%,
        rgba(245,238,230,0.85) 15%,
        rgba(245,238,230,0.55) 35%,
        rgba(245,238,230,0.25) 50%,
        rgba(245,238,230,0) 65%
    );

    z-index: 1;
}
#head-banner-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#head-banner-container-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#hero-text{
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    max-width: 500px;
    z-index: 2;
}
#hero-text-2{
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    max-width: 500px;
    z-index: 2;
    gap: 0;
}
#hero-text h1{
    font-family: "Montserrat", sans-serif;
    font-size: clamp(2rem,5vw,5rem);
    font-weight: 800;
    letter-spacing: 3px;
}
#hero-text-2 h1{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: clamp(2rem,5vw,5rem);
    font-weight: 800;
    letter-spacing: 3px;
}
#hero-text p{
    margin-top: 15px;
    font-size: clamp(.5rem,1.7vw,1.8rem);
    color: #444;
}
#hero-text-2 p{
    position: relative;
    font-size: clamp(.5rem,1.2vw,1.8rem);
    font-family: "Montserrat", sans-serif;
    letter-spacing: 6px;
    color: #cbcbcb;
}
#hero-text-2 :nth-child(1){
    position: absolute;
    font-size: clamp(1rem,1.2vw,1.8rem);
}
#hero-text button{
    margin-top: 25px;
    padding: 12px 28px;
    border: none;
    background: #000000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition:0.3s;
    border-radius: 20px;
}
#scroll-btn{
    position: absolute;
    left: 8%;
    bottom: 10%;
    border: none;
    background: transparent;
    color: #cbcbcb;
    font-weight: bold;
    font-size: clamp(.5rem,1vw,2rem);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;
}

#hero-text button:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
#next-btn{
    top: 50%;
    position: absolute;
    z-index: 10;
    border: none;
    background: transparent;
}
.title{
  position: absolute;
  bottom: 50%;
  display: inline-block;
  font-size: 48px;
}

.title::after{
  content: "";
  position: absolute;
  bottom: 1000%;
  width: 60px;  
  height: 1px;
  background: rgba(255, 255, 255, 0.627);
}

/*END HEAD HERO BANNER */









/*START HEAD HERO BANNER */
#body{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 130vh;
    max-width: 1500px;
    max-height: 900px;
    padding-bottom: 100px;
    overflow: hidden;
}
#body-content-container{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
}
#body-content-container::before{
    content: "";
    z-index: 2;
    width: 30%;
    height: 100%;
    transform: translateX(-100%);
    position: absolute;
    background: linear-gradient(
        to right,
        rgba(245,238,230,0.95) 60%,
        rgba(245,238,230,0.85) 70%,
        rgba(245,238,230,0.55) 85%,
        rgba(245,238,230,0.25) 90%,
        rgba(245, 238, 230, 0.114) 100%
    );
    border-right: 1px solid black;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
#body-content-container.b-show::before{
    content: "";
    z-index: 2;
    width: 30%;
    height: 100%;
    transform: translateX(0);
    position: absolute;
    background: linear-gradient(
        to right,
        rgba(245,238,230,0.75) 60%,
        rgba(245,238,230,0.65) 70%,
        rgba(245,238,230,0.35) 85%,
        rgba(245,238,230,0.05) 90%,
        rgba(245, 238, 230, 0) 100%
    );
    border-right: 1px solid black;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
    transition: 1.5s all;
}
#category{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#category div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(.5rem, 1.5vw, 2rem);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#category img{
    width: clamp(1rem, 23vw, 30rem);
    height: clamp(1rem, 11vw, 30rem);
    max-width: 290px;
    max-height: 180px;
    transition: .1s all;
}
#category img:hover{
    filter: brightness(90%);
    scale: 1.1;
    transition: .3s all;
    cursor: pointer;
}
#newest-collection{
    width: 100%;
    height: 100%;
    max-width: 1500px;
    position: relative;
    font-family: "Montserrat", serif;
}
#newest-collection div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
}
#newest-collection div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;
}
#newest-collection span{
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translateX(-130%);
    z-index: 3;
    font-size: clamp(.5rem, 5vw, 3rem);
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: normal;
}
#newest-collection span.b-show{
    transition: 1.5s all;
    transform: translateX(0);
}
#newest-collection p{
    position: absolute;
    top: 35%;
    left: 2.5%;
    transform: translateX(-120%);
    z-index: 3;
}
#newest-collection p.b-show{
    transition: 1.5s all;
    transform: translateX(0);
}
#newest-collection button{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 3;
    margin-top: 25px;
    padding: 12px 45px;
    border: none;
    background: #000000;
    color: rgb(252, 237, 194);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid rgb(252, 237, 194);
    transform: translateX(-200%);
}
#newest-collection button.b-show{
    transition: 1.5s all;
    transform: translateX(0);
}
#newest-collection button:hover{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}
#b-img2,#b-img3{
    opacity: 0;
    visibility: hidden;
    transition: 1s all;
}
#b-img2.b-show{
    opacity: 1;
    visibility: visible;
    transition: 1s all;
}
#b-img3.b-show{
    opacity: 1;
    visibility: visible;
    transition: 1s all;
}
/*END HEAD HERO BANNER */




/*START FOOTER */
#footer{
    position: relative;
    margin-top: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100svh;
    max-width: 1500px;
    max-height: 900px;
    background: linear-gradient(0deg, rgb(227, 227, 227), white);
    font-family: "Montserrat", serif;
    overflow: hidden;
}
#footer span{
    font-size: clamp(.5rem, 1.5vw, 2rem);
    font-weight: 600;
    font-family: "Montserrat", serif;
    letter-spacing: normal;
}
#footer div{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
#footer div div{
    width: 16%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0;
    background: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    transition: .1s all;
}
#footer div div:hover{
    scale: 1.025;
    transition: .3s all;
}
#footer div div img{
    width: 100%;
    height: 60%;
    object-fit: scale-down;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#footer div div span{
    margin-top: 10%;
    font-size: clamp(.5rem, 1.3vw, 1.3rem);
}
#f-img1{
    background: linear-gradient(100deg, #c3c3c3, rgb(244, 244, 244));
}
#f-img2{
    background: linear-gradient(100deg, #efefef, rgb(231, 231, 231));
}
#f-img3{
    background: linear-gradient(100deg, #fffef4, rgb(255, 255, 248));
}
#f-img4{
    background: linear-gradient(100deg, #efefef, rgb(231, 231, 231));
}
#footer div div button{
    padding: 12px 25px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#footer div div button:hover{
    padding: 12px 25px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px solid black;
}
/*END FOOTER */












































































































































/*START SEPERATE*/
.territory{
    width: 100vw;
    height: 15svh;
    max-width: 1500px;
    max-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: clamp(1rem, 2vw, 3rem);
    position: relative;
    margin: auto;
}
/*END SEPERATE*/




/*START MENU*/
#menu{
    width:100%;
    max-width: 1500px;
    height:70px;
    position:fixed;
    top:0;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 60px;
    background:rgba(255,255,255,0.6);
    backdrop-filter:blur(10px);
    z-index:1000;
}
#text span{
    position:relative;
    cursor:pointer;
}

#text span::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:2px;
    background:black;
    transition:0.3s;
}

#text span:hover::after{
    width:100%;
}
#text-menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
}
#logo{
    position: relative;
    left: 2%;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Montserrat", serif;
    color: rgb(0, 0, 0);
    font-size: clamp(.25rem, 1.75vw, 2.5rem);
    cursor: default;
}
#text{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#text span{
    font-size: clamp(0.35rem, 1.25vw, 1rem);
}
#text span:hover{
    transition: .3s all;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}


#utility-menu{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.45rem, 1.25vw, 1rem);
}
.icon{
    width: clamp(.35rem, 1.25vw, 1.9rem);
    height: clamp(.35rem, 1.25vw, 1.9rem);
}
.icon path{
    scale: 1;
}
#login-btn{
    width: 30%;
    height: 80%;
    background-color: orangered;
    border-radius: 2px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#login-btn:hover{
    background-color: rgb(183, 49, 0);
}
#user-account{
    width: clamp(.25rem, 3vw, 2.5rem);
    height: clamp(.25rem, 3vw, 2.5rem);
    z-index: 2;
    background-color: #111;
    border-radius: 50%;
}
#user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 30%;
}
/*Menu Button*/
.hamburger{
  cursor: pointer;
}
#menu-toggle:checked ~ #fast-menu{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.hamburger input{
  display: none;
}
.hamburger svg{
  height: 2em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line{
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line-top-bottom{
  stroke-dasharray: 12 63;
}
#menu-toggle:checked + #utility-menu .hamburger svg{
  transform: rotate(-45deg);
}

#menu-toggle:checked + #utility-menu .line-top-bottom{
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*Menu Button*/
/*FAST MENU*/
#fast-menu{
    background: linear-gradient(180deg,#111 0%,#0a0a0a 50%,#0000005d 100%);
    color: #fff;
    position: fixed;
    width: 260px;
    top: 110%;
    right: 1%;
    transform: translate(200%, -50%);
    padding: 30px 40px;
    display: grid;
    gap: 30px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    border-radius: 12px 0 0 12px;
    box-shadow: -10px 0 30px rgba(0,0,0,0.5);
    transition: .4s ease;
}
.menu-item:hover .menu-title{
    text-decoration: underline;
}
.menu-item:hover .submenu{
    color: white;
    text-decoration: none;
}
.menu-title{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
.sub-sub{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding-left: 15px;
    transition: .3s ease;
}
.sub-sub:hover{
    text-decoration: underline;
}
.submenu-item.active .sub-sub{
    max-height: 100px;
    opacity: 1;
}
.submenu{
    max-height: 0;
    overflow: hidden;
    transition: .35s ease;
}

.menu-item.active .submenu{
    max-height: 300px;
}
/*FAST MENU*/
/*END MENU*/