html,body{
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    background-color: rgb(236, 236, 236);
    overflow-x: clip;
    user-select: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.hide::-webkit-scrollbar{
    height: 0;
    width: 0;
}

#product-modal {
    position: fixed;
    inset: 0;
    z-index: 1001;
    display: none !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
}

.modal-container {
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 990px;
    height: 80%;
    max-height: 550px;
    display: flex;
    background: white;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4);
    animation: luxuryFade 0.4s ease;
}

.modal-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.modal-left img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#tooltip-explain {
    position: absolute;
    bottom: 140%;
    width: 150px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: center;
    font-size: clamp(0.65rem, 0.8vw, 1rem);
    font-family: "Montserrat", serif;
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
}

#Try-on-form:hover #tooltip-explain {
    visibility: visible;
    opacity: 1;
    transition: .3s all;
}

.modal-right {
    position: relative;
    width: 50%;
    padding: 60px 40px;
    font-family: "Montserrat", serif;
}

#modal-detail {
    padding-top: 10px;
    cursor: pointer;
}

#modal-detail:hover {
    opacity: .7;
    text-decoration: underline;
}

#form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addCartForm {
    width: 65%;
}

#Try-on-form {
    width: 32%;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: .1s all;
}

.close-modal:hover {
    transform: scale(1.3);
    transition: .3s all;
}

.modal-brand {
    font-size: 12px;
    color: #999;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

#modal-name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

#modal-price {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 40px;
}

.size-select p, .color-select p{
    font-size: 14px;
    margin-bottom: 10px;
}   

.sizes {
    display: flex;
    gap: 15px;
    margin-bottom: 40px;
}

.sizes label {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(151, 151, 151, 0.5);
    display: grid;
    place-items: center;
    transition: 0.3s;
    transition: .3s all;
}

.sizes label:hover,
.sizes label.active {
    transition: .3s all;
    cursor: pointer;
    background: black !important;
    color: white !important;
}
.color.active{
  background: black;
  color: white;
}
.color:hover{
  background: black !important;
  color: white !important;
}
.modal-add {
    align-self: flex-start;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.modal-add:hover {
    background: #333;
}

.modal-try {
    align-self: flex-start;
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .3s all;
}

.modal-try:hover {
    background: black;
    color: white;
    transition: .3s all;
}

#try-on-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5001;
    width: 90%;
    max-width: 420px;
    height: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 14px;
    border: 1px solid black;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.25);
    font-family: "Montserrat", sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: .35s;
}

#try-on-modal.show {
    visibility: visible;
    opacity: 1;
}

#alertNotice {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    z-index: 9999;
    width: 80vw;
    max-width: 450px;
    height: clamp(5rem, 22vh, 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    background: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: .3s all;
}

#alertNotice.tryon {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 20%);
    transition: .3s all;
}

#alertNotice.tryon-close {
    display: flex;
    justify-content: start;
    max-width: 80px;
    max-height: 40px;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 170%);
    transition: .3s all;
}

#alertNotice.tryon-close * {
    visibility: hidden;
    opacity: 0;
}

#closeAlertBtn {
    position: absolute;
    right: 0;
    border: none;
    background: transparent;
    font-size: clamp(1rem, 1.5vw, 2rem);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .1s all;
}

#closeAlertBtn:hover {
    transform: scale(1.1);
    transition: .3s all;
}

#alertNotice.tryon #closeAlertBtn {
    visibility: visible;
    opacity: 1;
}

#alertNotice h4 {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(.9rem, 1vw, 2.25rem);
    font-weight: 600;
}

#alertNotice span {
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(.75rem, 1.2vw, 2rem);
}

#alertNotice.alert {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 40%);
    transition: .3s all;
}

#alert-div {
    position: absolute;
    bottom: 5%;
    align-self: flex-end;
    display: flex;
    gap: 5%;
    margin-right: 20px;
}

#CANCEL-btn {
    width: clamp(3.25rem, 6.3vw, 6rem);
    height: clamp(1rem, 3.5vh, 2.5rem);
    font-size: clamp(.7rem, .9vw, 2rem);
    background: white;
    color: black;
}

#CANCEL-btn:hover {
    background: black;
    color: white;
}

.alertBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    max-width: fit-content;
    height: clamp(1rem, 3.5vh, 3rem);
    text-align: center;
    background: black;
    color: white;
    border: 1px solid black;
    font-size: clamp(.7rem, 1vw, 2rem);
    cursor: pointer;
    transition: .3s all;
}

.alertBtn:hover {
    background: white;
    color: black;
    border: 1px solid black;
    transition: .3s all;
}

#tryon-form h1 {
    font-size: 20px;
    letter-spacing: 2px;
}

#tryon-form label {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 30%;
    border: 2px dashed #ccc;
    border-radius: 5px;
    color: #555;
    text-align: center;
    font-size: clamp(.7rem, 1.2vw, 1rem);
    cursor: pointer;
    transition: .25s;
}

#tryon-form label:hover {
    border-color: black;
    color: black;
}

#tryon-form button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 30%;
    height: 20%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    color: white;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: clamp(.75rem, 1.2vw, 1rem);
    cursor: pointer;
    transition: .25s;
}

#tryon-form button:hover {
    background: #333;
}

#progress-container {
    display: none;
    width: 80vw;
    max-width: 350px;
    height: clamp(1rem, 3vh, 2rem);
    text-align: center;
    color: black;
    border: 1px solid black;
}

#progress {
    width: 0%;
    height: 100%;
    background-color: black;
    color: black;
    text-align: center;
    transition: 3s all;
}

/* Animations */
.animate-1{
    animation: appear 2s forwards;
    z-index: 1001 !important;
}
.animate-2{
    scale: 1.2;
    animation: appear2 1s forwards;
    animation-delay: .2s;
    filter: brightness(90%);
}
.collections-child{
    opacity: 0;
}
.products-child{
    opacity: 0;
}
.collections.animate .collections-child:nth-child(1){
    animation: luxuryFade .75s forwards;
    animation-delay: 0s;
}
.collections.animate .collections-child:nth-child(2){
    animation: luxuryFade .75s forwards;
    animation-delay: .1s;
    
}
.collections.animate .collections-child:nth-child(3){
    animation: luxuryFade .75s forwards;
    animation-delay: .3s;
    
}
.collections.animate .collections-child:nth-child(4){
    animation: luxuryFade .75s forwards;
    animation-delay: .5s;
}

.products.animate .products-child:nth-child(1){
    animation: luxuryFade .75s forwards;
    animation-delay: 0s;
}
.products.animate .products-child:nth-child(2){
    animation: luxuryFade .75s forwards;
    animation-delay: .1s;
    
}
.products.animate .products-child:nth-child(3){
    animation: luxuryFade .75s forwards;
    animation-delay: .3s;
    
}
.products.animate .products-child:nth-child(4){
    animation: luxuryFade .75s forwards;
    animation-delay: .5s;
}
.products.animate .products-child:nth-child(5){
    animation: luxuryFade .75s forwards;
    animation-delay: .7s;
}
.products.animate .products-child:is(:nth-child(6), :nth-child(7), :nth-child(8), :nth-child(9), :nth-child(10)) {
    opacity: 1;
}
@keyframes appear {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }
}

@keyframes appear2 {
    from{
        scale: 1.2;
    }
    to{
        scale: 1;
    }
}



@keyframes luxuryFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .details-btn {
        padding: 5px 17.5px;
        background: #000;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.4s;
    }

    #product-modal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .modal-container {
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin: 0;
    }

    .modal-left {
        width: 100%;
        height: 50%;
    }

    .modal-left img {
        width: 100%;
        height: 100%;
    }

    .modal-right {
        position: relative;
        width: 90%;
        height: 25%;
        margin: auto;
        padding: 60px 10px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .modal-brand {
        font-size: 12px;
        color: #999;
        letter-spacing: 4px;
    }

    #modal-name {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #modal-price {
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 0;
    }

    .sizes {
        display: flex;
        gap: 15px;
        margin-bottom: 20px;
    }

    .sizes label {
        width: 25px;
        height: 25px;
        display: grid;
        place-items: center;
        border: 1px solid black;
        font-size: 13px;
        cursor: pointer;
        transition: 0.3s;
    }

    .sizes label:hover,
    .sizes label.active {
        background: black;
        color: white;
    }

    #form-container {
        width: 100%;
        justify-content: space-between;
    }

    #addCartForm {
        width: 60%;
    }

    #Try-on-form {
        width: 38%;
    }

    #Try-on-form:hover #tooltip-explain {
        visibility: hidden;
        opacity: 0;
    }

    .modal-add, 
    .modal-try {
        height: 40px;
        font-size: 10px;
    }

    #modal-detail {
        padding-top: 0;
    }
}

@media (max-width: 728px) {
    .banner-content .sub-title {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #e1c140;
    }

    .banner-content h1 {
        margin: 0 0 14px -15px;
        font-family: "Playfair Display", serif;
        font-size: clamp(1.7rem, 1.5vw, 2rem);
        line-height: 1.1;
        color: #222;
    }

    .banner-content .description {
        max-width: 80%;
        margin-bottom: 30px;
        font-size: 13px;
        line-height: 1.6;
        color: #666;
    }

    .btn-shop {
        padding: 3px 6px;
        background-color: #222;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        scroll-behavior: smooth;
        transition: 0.3s;
    }

    .image-box {
        height: 100%;
    }

    .image-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .info-box {
        padding: 0;
    }

    #product-modal .modal-container {
        flex-direction: column;
        width: 95vw;
        height: 95vh;
        padding: 10px;
        max-width: none;
        max-height: none;
    }

    .modal-right {
        padding: 10px 0;
    }

    .close-modal {
        top: -57dvh;
        right: 0;
    }
    body, h1, h2, h3, h4 {
        font-size: 1rem;
    }

    #progress-container {
        max-width: 200px;
    }
}