diffusers==0.26.3
transformers==4.38.2
controlnet_aux==0.0.7
accelerate==1.12.0
safetensors==0.7.0
timm==0.9.16
einops==0.8.2
opencv-python-headless==4.9.0.80
pillow==12.0.0
scikit-image==0.22.0
scipy==1.15.3
imageio==2.34.0
tifffile==2025.5.10
Flask==3.1.3
flask-cors==5.0.0
mysql-connector-python==9.0.0
requests==2.32.5
urllib3==2.6.3
langchain
langchain-community
langchain-core
langchain-ollama
numpy==1.26.4
tqdm==4.67.3
huggingface_hub==0.25.2
pydantic==2.6.3
pymysql