upload/*
picture-uploads/Collections/*
picture-uploads/Men/T-shirt/Basic/*
picture-uploads/Men/T-shirt/Oversized/*
picture-uploads/Men/Polo/Basic/*
picture-uploads/Men/Polo/Logo/*
picture-uploads/Men/Hoodie/Basic/*
picture-uploads/Men/Hoodie/Logo/*
picture-uploads/Women/T-shirt/Basic/*
picture-uploads/Women/T-shirt/Oversized/*
picture-uploads/Women/Blouse/Classic/*
picture-uploads/Women/Blouse/Wrap/*
picture-uploads/Women/CropTop/Basic/*
picture-uploads/Women/CropTop/Tank/*
picture-uploads/Accesories/*
vendor/
node_modules/
AI/static/
sd15/
.env
.DS_Store